:root {
	--default-background: white;
}

.site {
	display: flex;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: var(--primary-brand-color);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site h2 {
	font-size: 1.2rem;
}

.site section.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	min-width: 300px;
	max-width: 600px;
	height: auto;
	background-color: var(--default-background);
	border-radius: 20px;
}

.site section.main img {
	width: 100%;
	height: auto;
}