/* Shared styles used by deployed site & site preview */

:root {
	--default-background: white;
}

.site {
  height: fit-content;
  max-height: 100%;
	width: 100%;

	overflow-y: scroll;
  
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  
	background: var(--primary-brand-color);
  font-family: var(--body-text-font);
  color: var(--body-text-color);

  font-size: 12px;
}

.site h1, .site h2 {
  font-family: var(--heading-text-font);
  color: var(--heading-text-color);

  margin: 1rem 0 !important;
}

.site h3, .site h4, .site h5, .site p, .site input {
  font-family: var(--body-text-font);
  color: var(--body-text-color);
  margin: 0.5rem 0 !important;
}


.site .container {
  margin-top: 2rem;
}

.site section.main {
  margin: 6rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	min-width: 300px;
	max-width: 600px;
	height: fit-content;
	background-color: var(--default-background);
	border-radius: 20px;
}

.site section.main img {
	width: 100%;
	height: 30vh;
}

.site section.main form {
  padding: 2rem;
}

.site section.main form .input-field .prefix.active,
.site section.main form .input-field > label
{
  color: var(--primary-brand-color);
}

.site section.main form .btn {
  background: var(--primary-brand-color);
}